{% extends 'main/base.html' %}
{% load static %}
{% block link %}
    <link href="{% static 'css/card.css' %}" type="text/css" rel="stylesheet">
     <link href="{% static 'css/input.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block content %}

    <div class="container form-group">
        <div class="col-6 position-absolute top-0 start-50 translate-middle-x" style="background-color: ghostwhite; width: 1200px; border-radius: 10px">
            <div>
                {{ form1.as_p }}
                <br/>
<form style="position: relative; left: 100px;">
        <div class="group">
      <input type="text" class="text-input" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label class="text-label">Name</label>
    </div>
        <div class="group">
      <input type="text" class="text-input" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label class="text-label">Name</label>
    </div>
        <div class="group">
      <input type="text" class="text-input" required>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label class="text-label">Name</label>
    </div>
    <div>
    <label>
        <input type="date" class="date">
    </label>
    </div>
</form>
            </div>
    <br/>

    <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly">

    <div class="card">
      <p>A glass-like card to demonstrate the <strong>Glassmorphism UI design</strong> trend.</p>
      <p >Created by Rahul C.</p>
    </div>

    <div class="card">
      <p>A glass-like card to demonstrate the <strong>Glassmorphism UI design</strong> trend.</p>
      <p >Created by Rahul C.</p>
    </div>

            <div class="card">
      <p>A glass-like card to demonstrate the <strong>Glassmorphism UI design</strong> trend.</p>
      <p >Created by Rahul C.</p>
    </div>



    </div>
        </div>
    </div>

{% endblock %}