body{
    background-image:url("../image/Background.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    padding:0;
    margin:0;
    background-attachment: fixed;
}

.box-container{
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

#logo{
    width: 150px;
    object-fit: contain;
}

#content{
    position: relative;
    top: 70px;
}