{% extends 'main/base.html' %}
{% block content %}
  <div class="position-absolute top-0 start-50 translate-middle-x" style="margin-top: 50px;background-color: white; padding: 30px; border-radius: 30px">
    {{ staff.staff_id }}<br/>
    {{ staff.name }}<br/>
    {{ staff.phone }}<br />
    {{ staff.email }}<br />
    {{ staff.position }}<br />
    {{ staff.get_status_display }}<br/>
    {{ staff.employed_date }}<br />
    {% if staff.leaving_date %}
    {{ staff.leaving_date }}<br />
    {% endif %}
    {% if staff.orders.all %}
    {% for order in staff.orders.all %}
        order <br/>
    {% endfor %}
    {% endif %}
    <a href="{% url 'staff_edit' staff.pk %}">编辑信息</a>
    </div>

{% endblock %}