{% extends 'main/base.html' %}
{% block content %}

{{ staff.staff_id }}<br/>
    {{ staff.name }}<br/>
    {{ staff.phone }}<br />
    {{ staff.email }}
    {{ staff.position }}<br />
    {{ staff.get_status_display }}<br/>
    {{ staff.employed_date }}
    {% if staff.leaving_date %}
    {{ staff.leaving_date }}
    {% endif %}
    {% if staff.orders.all %}
    {% for order in staff.orders.all %}
        order
    {% endfor %}
    {% endif %}
    <a href="{% url 'staff_edit' staff.pk %}">编辑信息</a>

{% endblock %}