{% extends 'main/base.html' %}

{% block content %}
    <style>
    #content-container{
        text-align: center;
        background-color: rgba(194,159,250,0.8);
        width: 500px;
        height: 1370px;
    }
    </style>

    <div id="content-container" class="list-group position-absolute top-0 start-50 translate-middle-x">
<form method="post" action="" >
{% csrf_token %}



    <label>
        <strong>岗位名称</strong>
        <input type="text" class="form-control" name="name">
    </label>
<br/>

<br/>
        <input type="button" onclick='selects()' value="勾选全部" class="btn btn-warning"/>
        <input type="button" onclick='deSelect()' value="取消全部" class="btn btn-success"/>

            <script type="text/javascript">
            function selects(){
                const ele = document.getElementsByClassName('checkboxes');
                for(let i=0; i<ele.length; i++){
                    if(ele[i].type==='checkbox')
                        ele[i].checked=true;
                }
            }

            function deSelect(){
                const ele = document.getElementsByClassName('checkboxes');
                for(let i=0; i<ele.length; i++){
                    if(ele[i].type==='checkbox')
                        ele[i].checked=false;

                }
            }
        </script>


<div class="position-relative" style="margin-top: 20px">
<ul class="list-group position-absolute top-0 start-50 translate-middle-x" >

    {% for field in form %}

    <li class="list-group-item" style="width: 300px">
        {{ field.label_tag }}
        {{ field }}
    </li>
    {% endfor %}

</ul>
<br/>
    <button type="submit" style="position: relative; top: 1150px" class="btn btn-primary">提交</button>
<br/><br/>

</div>
</form>
    </div>
{% endblock %}
