{% extends 'main/base.html' %}

{% block link %}

    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

{% endblock %}

{% block content %}
    <div class="container form-group">
        <div class="col-6 position-absolute top-0 start-50 translate-middle-x">
        {% block body %}{% endblock %}

            <form method="post" action="" style="background-color: white; padding: 20px; border-radius: 30px;" enctype="multipart/form-data">
                {% csrf_token %}
                {% block form %}
                {% endblock %}
            </form>
        </div>
    </div>
{% endblock %}