{% extends 'main/base.html' %}
{% block content %}
<div class="list-group position-absolute top-0 start-50 translate-middle-x">
    {% for supplier in object_list %}

            <a href="{% url 'supplier_detail' supplier.pk %}"
               class="list-group-item list-group-item-action list-group-item-dark
               d-flex justify-content-between align-items-center">
                {{ supplier.pk }} -- {{ supplier.name }}
                <span class="badge bg-primary rounded-pill">1</span>
            </a>

    {% endfor %}
</div>
{% endblock %}