{% extends 'main/base.html' %}
{% load static %}
{% block link %}
    <link href="{% static 'css/input.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.1/chart.min.js"
            integrity="sha512-dSQ0+Nf7kea2xLsbaig6H1m1RpNmWqfzz8/OzFvk5XHcBQbae+TVtA3dVIJoyLre8pqhOef4tRv6Ftx1S7yK1g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>


        $.ajax({
            method: "GET",
            success: function () {
                const ctx = document.getElementById('myChart');
                const ctx2 = document.getElementById('myChart2');


                new Chart(ctx, {
                    type: 'polarArea',
                    data: {
                        labels: [{% for performance in performances %}"{{ performance.owner.name }}", {% endfor %}],
                        datasets: [{
                            label: '月度业绩',
                            data: [{% for performance in performances %}{{ performance.performance }}, {% endfor %}],
                        }]
                    }
                })

                new Chart(ctx2, {
                    type: 'bar',
                    data: {
                        labels: [{% for performance in performances %}"{{ performance.owner.name }}", {% endfor %}],
                        datasets: [{
                            label: '月度业绩',
                            data: [{% for performance in performances %}{{ performance.performance }}, {% endfor %}],
                        }]
                    }
                })
            }
        });

    </script>

{% endblock %}
{% block content %}
    <div class="position-relative">
        <div class="position-absolute top-0 start-50 translate-middle-x"
             style="width: 1000px; height: 1700px; background-color: white; border-radius: 20px">
        <div style="display: flex; justify-content: space-around">
            <form method="post" action="" id="date" style="width: 160px; justify-content: start">
                    {% csrf_token %}
                    <div class="select-div" >
                        <select name="year" aria-label="Default select example" style="width: 100px; flex: 1" id="year" onchange="this.form.submit()" class="select">
                            <option selected disabled>选择年份</option>
                            {% for year in years %}
                                <option value="{{ year }}"{% if selected_year == year %} selected {% endif %}>{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="select-div" >
                        <select name="month" aria-label="Default select example" style="width: 40px; flex: 1" id="month" class="select"
                                onchange="this.form.submit();">
                            <option selected disabled>月份</option>
                            {% for month in month %}
                                <option {% if selected_month == month %} selected {% endif %}>{{ month }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </form>

            <button class="but" style="height: 54.4px; background-color: var(--c); color: #fff;">月度业绩</button>
            <a href="{% url 'yearly_performance' %}"> <button class="but" style="--c:#E95A49">年度业绩</button> </a>
        </div>
        <div>
            <header class="performance-header">
                {{ selected_year }}年 {{ selected_month }}月
            </header>

        </div>
            <div style="display: flex">

                <div style="width: 200px; flex: 2">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div style="width: 1000px">
                <canvas id="myChart2" width="500"></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}