{% extends 'main/base.html' %}
{% load static %}

{% block link %}
    <link href="{% static 'css/card.css' %}" type="text/css" rel="stylesheet">
     <link href="{% static 'css/input.css' %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container form-group">
        <div class="col-6 position-absolute top-0 start-50 translate-middle-x" style="background-color: ghostwhite; width: 1200px; border-radius: 10px">

            <p>{% if change.type == 'increase' %}入库编号: {% else %}出库编号: {% endif %}{{ change.change_id }}</p>
            <p>{% if change.type == 'increase' %}来源: {% else %}去向: {% endif %}{{ change.source_whereabouts }}</p>
            <p>单据: {{ change.invoice }}</p>
            <p>执行人员: {{ change.staff }}</p>
            <p>类型: {{ change.get_type_display }}</p>
            <p>执行日期: {{ change.date }}</p>

                {% if not change.completed %}
                    <p>添加物品至清单:</p>
    <div class="card">
        <form method="post" action="">

            {{ form.item.label }}: {{ form.item }}
            <span style="color: darkslateblue">物品不在列表? <a href="{% url 'item_add' %}">录入物品</a></span>
            <br/><br/>

            <div class="group">
                {% csrf_token %}
              {{ form.quantity }}
              <span class="highlight"></span>
              <span class="bar"></span>
              <label class="text-label">{{ form.quantity.label }}</label>
            </div>


            <button type="submit">添加</button>
        </form>
    </div>
{% endif %}

    <br/>

        <h1><strong>物品清单</strong></h1>

    <div style="display: flex; flex-wrap: wrap; justify-content: space-evenly">

        {% for item_change in item_changes %}
    <div class="card">
    {% if not change.completed %}
    <div style="right: 30px; position: absolute">
        <a href="{% url 'delete_item_change' item_change.pk %}">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"></path>
  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"></path>
</svg>
        </a>
    </div>
    {% endif %}
        <p><strong>物品: </strong>
      {% if item_change.item %}
          {{ item_change.item }}
      {% else %}
          {{ item_change.item_name }}
      {% endif %}
    </p>

        <p><strong>数量: </strong>{{ item_change.quantity }}</p>
    </div>
        {% endfor %}




    </div>


            {% if not change.completed %}
            <div style="text-align: center;"><a href="{% url 'change_complete' change.pk %}"> <button type="button" class="but">完成</button></a></div>
        {% endif %}


        </div>
                        </div>

{% endblock %}