{% extends 'main/base.html' %}
{% block content %}
<div class="list-group position-absolute top-0 start-50 translate-middle-x">
    {% for order in object_list %}

            <a href="{% url 'staff_detail' order %}"
               class="list-group-item list-group-item-action list-group-item-dark
               d-flex justify-content-between align-items-center">
{#                {{ order.order_num }} -- {{ staff.name }}#}
{#                <span class="badge bg-primary rounded-pill">{{ staff.order_in_progress }}</span>#}
                <ul class="list-group list-group-horizontal">
                    <li class="list-group-item">{{ order.order_num }}</li>
                    <li class="list-group-item">{{ order.client }}</li>
                    <li class="list-group-item">{{ order }}</li>
                </ul>
            </a>

    {% endfor %}
</div>
{% endblock %}