{% extends 'main/list.html' %}
{% block table %}


<table style="background: gainsboro">
    <tr><th>订单号</th><th>客户</th><th>订单状态</th></tr>
</table>
    {% for order in object_list %}

            <a href="{% url 'order_detail' order.pk %}"
               class="list-group-item list-group-item-action list-group-item-dark
               d-flex justify-content-between align-items-center" style="padding: 0">
{#                {{ order.order_num }} -- {{ staff.name }}#}
{#                <span class="badge bg-primary rounded-pill">{{ staff.order_in_progress }}</span>#}
                <ul class="list-group list-group-horizontal" style="margin: 0">
                    <li class="list-group-item">{{ order.order_num }}</li>
                    <li class="list-group-item">{{ order.client }}</li>
                <li class="list-group-item">
                {% for status in order.status.all %}
                    {% if order.order_type == 'normal' and status.current == True %}
                    {{ status.get_status_display }}
                    {% elif order.order_type == 'sample' and status.current == True %}
                        {{ status.get_sample_status_display }}
                    {% endif %}
                    {% endfor %}
                </li>
                </ul>
            </a>

    {% endfor %}



{% endblock %}